<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="g0v.ly.android" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="e78d3e0d42d8ca106081ec58704d72ccb3fd5551" />

        <activity
            android:name=".EnterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".legislator.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>


        <meta-data android:name="com.crashlytics.ApiKey" android:value="e78d3e0d42d8ca106081ec58704d72ccb3fd5551"/>
     

    </application>

</manifest>
